.card-body {
    background-color: lightblue;
    padding: 6px 12px;
    min-height: 80px;
    border-top: 0.125rem solid;
  }

  .card-title{
    text-align: left;
    color: rgb(77, 73, 73);

  }

  .card-text{
    margin: 0 19px 10px;
    font-style: italic;
  }

  .CommentComponentHeader.container{
    background-color: lightblue;
  }

  textarea.form-control {
    height: auto;
    resize: vertical;
}
 